<%- include('../partials/header') %>
    
  <h1><%= movie.title %></h1>
  <img src="<%= movie.imageURL %>" style="width: 200px; height: 250px;"/>
    <section class="movie__details">
      <span><b>Release Date:</b><br> <%= movie.releaseDate %></span>
      <span>Age Rating:<br> <%= movie.ageRating %></span>
      <span>Genre:<br> <%= movie.genre %></span>
      <span>Viewing Time:<br> <%= movie.runtime %></span>
    </section>


  <nav>
    <span><a href="/">Home</a></span>
  </nav>

  <%- include('../partials/footer') %>