<%- include('../partials/header') %>
    
  <h1 style="color: maroon"><%= movie.title %></h1>
  <!-- <img src="<%= movie.imageURL %>" style="width: 200px; height: 250px;"/> -->
    <section class="movie__details">
      <img src="<%= movie.imageURL %>" style="width: 200px; height: 250px;"/>
      <p>
        <div><b>Release Date:</b><%= movie.releaseDate %></div>
        <div><b>Age Rating:</b><%= movie.ageRating %></div>
        <div><b>Genre:</b><%= movie.genre %></div>
        <div><b>Viewing Time:</b><%= movie.runtime %></div>
      </p>
    </section>

  <nav>
    <span><a href="/">Home</a></span>
  </nav>

  <%- include('../partials/footer') %>