<%- include('../partials/header') %>
    
  <h1><%= movie.title %>
    <hgroup class="movie_details__info">
      <span><%= movie.releaseDate %></span>
      <span><%= movie.agerating %></span>
      <span><%= movie.genre %></span>
      <span><%= movie.runtime %></span>
      <img src="<%= movie.imageURL %>"/>
    </hgroup>
  </h1>

  <nav>
    <span><a href="/">Home</a></span>
  </nav>

  <%- include('../partials/footer') %>